@mixin icon(){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 100%;
    cursor: pointer;
}
.search{
    width: 80%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-radius: 60px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    
    input{
        border:none;
        outline: none;
        padding: 0 20px;
        font-size: 18px;
        font-weight: 500;
        color: black;
        flex: 1;
        ::placeholder{
            font-size: 18px;
            color: black;
            font-weight: 500;
        }
    }

    .icon-search{
      @include icon
    }
    .icon-micro{
       @include icon
    }
}