.search{
    position: relative;
}
.search input{
    position: relative;
    border:none;
    outline: none;
    padding: 20px 40px;
    border-radius: 20px;
    width: 30vw;
    box-shadow: 5px 0 5px rgba(0,0,0,0.2), -5px 0 5px rgba(0,0,0,0.2);
    font-size: 18px;
    font-weight: 500;
    color: black;
}
.search .icon-search{
    position: absolute;
    left: 32%;
    top: 30%;
}
.search .icon-micro{
    position: absolute;
    left: 65%;
    top: 30%;

}