.logo{
    padding: 50px;
}
.logo span{
    font-size:200px;
}
.logo span:first-child{
    color: #5383ec;
}
.logo span:nth-child(2){
    color: #d85140;
}
.logo span:nth-child(3){
    color: #f1bf42;
}
.logo span:nth-child(4){
    color: #5383ec;
}
.logo span:nth-child(5){
    color: #58a65c;
}
.logo span:nth-child(6){
    color: #d85140;
}